body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #d7eaf3;
}

img {
    max-width: 30%;
}

.bayan {
    max-width: 90%;
    margin: 5px auto;
}

.bayan-item {
    border-top: 1px solid #14397d;
}

.bayan-title {
    display: block;
    padding: 10px 15px;
    color: #14397d;
    font-weight: bold;
    cursor: pointer;
    transition: background .2s ease-out;
}

.bayan-title:after {
    display: block;
    border-style: solid;
}

.bayan-title:hover {
    background-color: #77b5d9;
}

.bayan-title:active {
    background-color: #ffffff;
}

.bayan-input {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.bayan-input:checked ~ .bayan-title {
    background-color: #d7eaf3;
}

.bayan-input:checked ~ .bayan-title:after {
    border-style: solid;
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent #ffcb9a transparent;
}

.bayan-input:checked ~ .bayan-img {
    max-height: 50em;
}

.bayan-input:hover ~ .bayan-img {
    max-height: 50em;
}

.bayan-img {
    max-height: 0;
    text-align: center;
    transition: max-height 1s ease;
    overflow:hidden
}

.bayan-input:checked ~ label svg {
    transform: rotate(90deg);
    opacity: 100;
}

.meme-title {
    display: inline-block;
}

svg {
    transition: all 0.3s ease;
    padding-left: 5px;
    float: left;
}

.svg-title {
    float: right;
}

@media (min-width: 800px) {
    .bayan {
        max-width: 85%;
        margin: 10px auto;
    }
}

@media (min-width: 1200px) {
    .bayan {
        max-width: 70%;
        margin: 20px auto;
    }
}
